	<!DOCTYPE html>
	<html xmlns:th = "http://www.thymeleaf.org">

	<head lang="en" th:fragment="scriptAdmin">
		<link rel="stylesheet" type="text/css" media="all"  th:href="@{/assets/css/bootstrap.min.css}"  href="../assets/css/bootstrap.min.css" />
	   
	    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/assets/plugins/datatables/dataTables.bootstrap.css}"  href="../assets/plugins/datatables/dataTables.bootstrap.css" />
	    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/assets/dist/css/AdminLTE.min.css}"  href="../assets/dist/css/AdminLTE.min.css" />
	    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/assets/dist/css/skins/_all-skins.min.css}"  href="../assets/dist/css/skins/_all-skins.min.css" />

	    <script th:src="@{/assets/js/jquery.js}"></script>
	    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	    <script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	    <script th:src="@{/assets/js/scrolling-nav.js}"></script>
	    <script th:src="@{/assets/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	    <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.min.js}"></script>
	    <script th:src="@{/assets/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
	    <script th:src="@{/assets/plugins/fastclick/fastclick.js}"></script>
	    <script th:src="@{/assets/dist/js/app.min.js}"></script>
	    <script th:src="@{/assets/dist/js/demo.js}"></script>


	</head>

		<body>
		</body>
    </html>